<html>
<head>
</head>
<style>
h3{
border:2px;

}

h1{
text-decoration: underline;
color:#0C2A50;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
 
}
</style>

<body bgcolor="#7AB4D3">
<center><h1> HEALTY-BLOCKCHAIN</h1></center>
<br>

	<a href="http://127.0.0.1:8089/homepage2?action=ARE+YOU+A+HOSPITAL">Go to LOGIN page</a>
	<br><a href="http://127.0.0.1:8089/">LOGOUT</a>
    <center><form action="/searchblock" method="POST">
    		<table>
			<div>
				<tr><td> <label for="patient"><b>ADD PATIENT ID</b></label></td></tr>  
				<tr><td><input type="text" placeholder="Enter Patient UniqueId" name="pID"></td>
				<tr>
				<td> <label for="patient"><b>ADD DIAGNOSIS REPORT</b></label></td></tr>
				     <tr><td><input type="text" placeholder="Enter data" name="diagnosis"></td></tr>

				<tr><td><button type="submit" name="pID">Go</button></td></tr>
				    
	                         				
				    
   			</div>

                </table>

		
	
</form>




</body>
</html>
