<html>
<head>
</head>
<body>
<center><h2>BLOCKCHAIN-HEALTHCARE SYSTEM</h2></center>
        <center><form action="/hospitalloginverify" method="POST">
        <table>
          <tr>
          <th>SIGN IN</th>    
        </tr>    
        <tr><td> <label for="uname"><b>NAME</b></label></td></tr>
        <tr><td><input type="text" placeholder="Enter Name" name="name" required></td></tr>
  
         <tr><td> <label for="psw2"><b>PASSWORD</b></label>
         <tr><td> <input type="password" placeholder="Enter Password" name="password" required></td></tr>

	<tr><td><button type="submit" value="submit1">SIGN IN</button></td></tr>

	</table>
</center>
</body>
</html>

