<html>
<head>
</head>
<style>
h1{
text-decoration: underline;
color:#0C2A50;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
</style>
<body bgcolor="#7AB4D3">
<center><h1>HEALTY-BLOCKCHAIN</h1></center>
<a href="http://127.0.0.1:8089/">HOMEPAGE</a>
        <center><form action="/patientverify" method="POST">
			
         <table>
        <tr>
          <th>SIGN IN</th>    
        </tr>    
         
	 <tr><td> <label for="psw2"><b>Patient id</b></label>
         <tr><td> <input type="text" placeholder="Enter patient-id" name="ppp" required></td></tr>

         <tr><td> <label for="psw2"><b>UNIQUE-ID</b></label>
         <tr><td> <input type="text" placeholder="Enter unique-id" name="id" required></td></tr>

	<tr><td><button type="submit" value="submit">SIGN IN</button></td></tr>
         
	</table>
</center>
 
</body>
</html>

